/*$text-color: orange;

@mixin box-shadow($color) {
    box-shadow: 3px 3px 4px 1px $color;
}

@mixin make-bold($boolean) {
    @if $boolean == true{
        font-weight: bold;
    }
}

@mixin text-effect($val) {
    @if $val == danger{
        color: red
    }
    @else if $val == alert {
        color:yellow
    }
    @else {
        color: black;
    }
}

body {
    background-color: #7159c1;
    color: $text-color;
}

.container {
    @include box-shadow(rgba(0,0,0,0.6));
    width: 200px;
    height: 200px;
    background-color: white;
    $text-color: blue;
    color: white;

    p {
        @include box-shadow(rgba(0,0,0,0.6));
        background-color: gray;
        height: 100px;
        width: 100px;
        color: $text-color;
        @include make-bold(true);
        @include text-effect(alert)
    }
}*/

/*@for $i from 1 to 5 {
    .text-#{$i} {
        font-size: 15px * $i
    }
}

@for $i from 1 through 5 {
    .text-#{$i} {
        font-size: 15px * $i
    }
}*/

/*$colors: (color: red, color2: green, color3: blue);

@each $key, $color in $colors {
    .#{$color}-text { color: lighten($color, 50); }
}*/

/*.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    @extend .flex;
    flex-direction: column;
    height: 100px;
}*/

p {
    color: red;
    cursor: pointer;

    &:hover {
        color: blue;
    }
}
